<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azf-ddt-docgen-prod.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/dea1a2ad-ed01-4008-b79f-6d992f6f8007/resourceGroups/DDT-prod/providers/Microsoft.Web/sites/azf-ddt-docgen-prod</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/dea1a2ad-ed01-4008-b79f-6d992f6f8007/resourceGroups/DDT-prod/providers/Microsoft.ContainerRegistry/registries/ddtcontreg</ContainerResourceId>
    <ContainerResourceName>ddtcontreg</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>ddtcontreg.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>