<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ctg-azf-dataverse-docgen-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7e61608b-f6a5-4642-b842-6254b9e84c46/resourceGroups/RG-CTG-Dataverse-DEV/providers/Microsoft.Web/sites/ctg-azf-dataverse-docgen-dev</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/7e61608b-f6a5-4642-b842-6254b9e84c46/resourceGroups/RG-CTG-Dataverse-DEV/providers/Microsoft.ContainerRegistry/registries/ctgdataverseacr</ContainerResourceId>
    <ContainerResourceName>ctgdataverseacr</ContainerResourceName>
    <Subscription>CTG Development</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>ctgdataverseacr.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>