<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ps-azf-document-generator.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d1a3ae87-ec10-443e-8d7c-53fb9f0e74ad/resourceGroups/psubik-rg/providers/Microsoft.Web/sites/ps-azf-document-generator</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/d1a3ae87-ec10-443e-8d7c-53fb9f0e74ad/resourceGroups/psubik-rg/providers/Microsoft.ContainerRegistry/registries/psdocontainerregistry</ContainerResourceId>
    <ContainerResourceName>psdocontainerregistry</ContainerResourceName>
    <Subscription>Microsoft Azure Sponsorship 2022</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>psdocontainerregistry.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>